.profile-main{
    background-color: rgb(7,11,30);
    height: 100vh;
    
}


.profile-sub{
    background-color: aliceblue;
    height: 75vh;
    padding: 10px;
    width: 90vw;
    margin-left: 5em;
}

.content {
    padding: 10px;
    height: 70vh;
    justify-content: center;
}

.content ul li{
    font-size: 10em;
    justify-content: center;
    margin-left: 3em;
    
}





